
body {
  margin: 0;
  background-color: #222;
  color: #fff;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Press Start 2P';
  line-height: 1.5;
  margin-top: 0;
}

p {
  line-height: 1.25;
}
